@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container my-4 py-2 text-left" style="background-color:#CCD1D1 ;">
        <div calss="row">
            <!--News-->
            <div class="col-sm">
                <h2 style="text-align:center;">Everything you need to know about the 2019-20 NBA season restart</h2>
                <hr>
                <div calss="container text-center ">
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/ZgfBMOBogT8"></iframe>
                </div>
                <br><br><br>
                        <p>
                            The 2019-20 NBA season went on hiatus on March 11 because of the coronavirus pandemic.  On June 4, the NBA's Board of Governors approved a competitive format for the comeback of the 2019-20 season with 22 teams returning to play and a start date of July 30.
                            <br><br>
                            On June 26, the NBA and National Basketball Players Association finalized a comprehensive plan for a July 30 restart to the 2019-20 season, which includes stringent health and safety protocols, a single-site campus at Walt Disney World Resort in Florida and the goal of taking collective action to combat systemic racism and promote social justice.
                            <br><br>
                            In anticipation of the comeback of the NBA, here are some common questions and answers about the season comeback for 2019-20.
                        </p>
                <br>

                <h4>Q: When does the 2019-20 season comeback begin and end?</h4>
                <p>July 30 is the start date. The Finals will end no later than Oct. 13.</p>
                <br>

                <h4>Q: Which teams will be playing?</h4>
                <p> A total of 22 teams will return to play this season. </p>
                <br>

                <h4>Q: Where will games be played?</h4>
                <p>The NBA and Disney reached an agreement to have games played at ESPN Wide World of Sports Complex at Walt Disney World Resort near Orlando, Florida. The venues for all games will be inside the Arena, Field House and Visa Athletic Center. </p>
                <br>

                <h4>
                    Q: What are seeding games?
                </h4>
                <p>The eight remaining games each returning team will play before the playoffs begin. The games were selected from a team's remaining regular-season matchups.</p>
                <br>

                

            </div>
        </div>
    </div>


