@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="container my-4 py-2 text-center" style="background-color:#CCD1D1 ;">
        <h2> <u> NBA Schedule </u> </h2>
        <hr>

        <p>Thursday, July 30</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">MATCHUP</th>
                    <th scope="col">TIME (WIB)</th>
                    <th scope="col">NAT TV</th>
                    <th scope="col">TICKETS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> Utah VS New Orleans </td>
                    <td> 5:30 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td> LA VS Los Angeles </td>
                    <td> 8:00 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td> Orlando VS Brooklyn </td>
                    <td> 1:30 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
            </tbody>
        </table>

        <br>
        <hr>
        <br>
        <p>Friday, July 31</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">MATCHUP</th>
                    <th scope="col">TIME (WIB)</th>
                    <th scope="col">NAT TV</th>
                    <th scope="col">TICKETS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> LA VS Los Angeles </td>
                    <td> 8:00 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td> Utah VS New Orleans </td>
                    <td> 5:30 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td> Orlando VS Brooklyn </td>
                    <td> 1:30 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td> LA VS Los Angeles </td>
                    <td> 8:00 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td> Orlando VS Brooklyn </td>
                    <td> 1:30 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
            </tbody>
        </table>

        <br>
        <hr>
        <br>

        <p>Thursday, July 30</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">MATCHUP</th>
                    <th scope="col">TIME (WIB)</th>
                    <th scope="col">NAT TV</th>
                    <th scope="col">TICKETS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> Utah VS New Orleans </td>
                    <td> 5:30 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td> LA VS Los Angeles </td>
                    <td> 8:00 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td> Orlando VS Brooklyn </td>
                    <td> 1:30 AM </td>
                    <td> TNT </td>
                    <td> Buy on Vivid Seats </td>
                </tr>
            </tbody>
        </table>

    </div>
